.button2 {
    -fx-text-fill: blue;
    -fx-background-color: #FEC33B;
}

.menu {
    -fx-background-color: #8CD3E7;
    -fx-background-radius: 50;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 35px;
    -fx-font-family: "Times New Roman";
    -fx-padding: 10 20 10 20;
}

.menu:hover {
  -fx-background-color: #7CBACC;
}
.menub {
    -fx-background-color: #F8F8F8;
    -fx-background-radius: 50;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #8CD3E7;
    -fx-font-weight: bold;
    -fx-font-size: 35px;
    -fx-font-family: "Times New Roman";
    -fx-padding: 10 20 10 20;
}

.menub:hover {
  -fx-background-color: #DCDCDC;
}

.start {
    -fx-background-color: #892D54;
    -fx-background-radius: 50;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-font-family: "Times New Roman";
    -fx-padding: 10 20 10 20;
}

.start:hover {
  -fx-background-color: #55132F;
}

.startb {
    -fx-background-color:  #ffffff;
    -fx-background-radius: 50;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #892D54;
    -fx-font-weight: bold;
    -fx-font-size: 40px;
    -fx-font-family: "Times New Roman";
    -fx-padding: 10 20 10 20;

}

.shiny-orange {
    -fx-background-color: #892D54;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 25px;
    -fx-font-family: "Times New Roman";
    -fx-padding: 10 20 10 20;
}

.shiny-orange:hover {
  -fx-background-color: #55132F;
}


.shiny-orange2 {
    -fx-background-color: #FEC33B;
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,2,3,0;
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-font-family: "Times New Roman";
    -fx-padding: 10 20 10 20;
}

.shiny-orange2:hover {
  -fx-background-color: #E8A200;
}


.buttonSave {
-fx-background-color: #892D54;
    -fx-text-fill: #FFFFFF;
}

.first_page{
    -fx-background-image:url('file:/Users/Dariia_Martyniuk/Downloads/Computer-Graphics-main/Computer-Graphics-main/KG/src/main/resources/com/computer_graphic/img/first.png');
    -fx-background-size: 100% 100%;
}

.anchor {
    -fx-background-image:url('file:/Users/Dariia_Martyniuk/Downloads/Computer-Graphics-main/Computer-Graphics-main/KG/src/main/resources/com/computer_graphic/img/background2.png');
    -fx-background-size: 100% 100%;
}

.m{
    -fx-background-image:url('file:/Users/Dariia_Martyniuk/Downloads/Computer-Graphics-main/Computer-Graphics-main/KG/src/main/resources/com/computer_graphic/img/menu.png');
    -fx-background-size: 100% 100%;

}

.fractal{
    -fx-background-image:url('file:/Users/Dariia_Martyniuk/Downloads/Computer-Graphics-main/Computer-Graphics-main/KG/src/main/resources/com/computer_graphic/img/fractal.png');
    -fx-background-size: 100% 100%;

}

.af{
    -fx-background-image:url('file:/Users/Dariia_Martyniuk/Downloads/Computer-Graphics-main/Computer-Graphics-main/KG/src/main/resources/com/computer_graphic/img/af.png');
    -fx-background-size: 100% 100%;
}

.exit{
    -fx-background-image:url('file:/Users/Dariia_Martyniuk/Downloads/Computer-Graphics-main/Computer-Graphics-main/KG/src/main/resources/com/computer_graphic/img/exit.png');
    -fx-background-size: 100% 100%;
}

.fractalT{
    -fx-background-image:url('file:/Users/Dariia_Martyniuk/Downloads/Computer-Graphics-main/Computer-Graphics-main/KG/src/main/resources/com/computer_graphic/img/rgbTheory.png');
    -fx-background-size: 100% 100%;
}

.rgbT{
    -fx-background-image:url('file:/Users/Dariia_Martyniuk/Downloads/Computer-Graphics-main/Computer-Graphics-main/KG/src/main/resources/com/computer_graphic/img/rgbTheory.png');
    -fx-background-size: 100% 100%;
}

.afT{
    -fx-background-image:url('file:/Users/Dariia_Martyniuk/Downloads/Computer-Graphics-main/Computer-Graphics-main/KG/src/main/resources/com/computer_graphic/img/Aftheory.png');
    -fx-background-size: 100% 100%;
}

.markings{
    -fx-background-image:url('file:/Users/Dariia_Martyniuk/Downloads/Computer-Graphics-main/Computer-Graphics-main/KG/src/main/resources/com/computer_graphic/img/first.png');
    -fx-background-size: 100% 100%;
}

.combo-box-popup {
-fx-font-size : 15pt;
}
.combo-box-popup .list-view {
-fx-font-size : 15pt;
}

.combo-box-popup .list-view .list-cell {
-fx-font-size : 15pt;}