.button2 {
    -fx-text-fill: blue;
    -fx-background-color: #FEC33B;
}
.buttonSave {
-fx-background-color: #892D54;
    -fx-text-fill: #FFFFFF;
}

.anchor {
    -fx-background-image:url('file:/Users/oksanaspodarik/Documents/KG/Computer-Graphics/KG/src/main/resources/com/computer_graphic/img/background2.png');
    -fx-background-size: 100% 100%;
}

.m{
    -fx-background-image:url('file:/Users/oksanaspodarik/Documents/KG/Computer-Graphics/KG/src/main/resources/com/computer_graphic/img/menu.png');
    -fx-background-size: 100% 100%;

}
.af{
    -fx-background-image:url('file:/Users/oksanaspodarik/Documents/KG/Computer-Graphics/KG/src/main/resources/com/computer_graphic/img/af.png');
    -fx-background-size: 100% 100%;

}
.combo-box-popup {
-fx-font-size : 15pt;
}
.combo-box-popup .list-view {
-fx-font-size : 15pt;
}

.combo-box-popup .list-view .list-cell {
-fx-font-size : 15pt;}